.container__login {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../../components/assets/img/backgndLogin.jpg") no-repeat
    center center;

  .container__form {
    width: 30vw;
    height: 57vh;

    padding: 4em 2em;

    border-radius: 2%;

    background: #fbf7f794;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    label {
      margin-bottom: 0.5em;

      display: block;

      font-weight: 500;
      font-size: 1.2em;
      letter-spacing: 2px;
    }
    
    input {
      width: 100%;

      display: block;

      padding: 1em 0;
      margin-bottom: 1em;

      font-size: 1em;
      text-indent: 10px;
      letter-spacing: 2px;
    }

    button {
      width: 50%;

      padding: 0.5em 1em;
      margin: 2em auto;

      display: block;

      font-size: 1.2em;
      font-weight: 600;

      color: #fff;
      border: 1px solid #fff;
      background: var(--ColorBackgnd2);

      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }

    button:hover {
      background-color: #f56b02ab;      
      color: rgb(255, 255, 255);
      text-shadow:rgba(0, 0, 0, 0.35);
    }
  }
}
