.container__login {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../../components/assets/img/backgndLogin.jpg") no-repeat
    center center;

  .container__form {
    width: 30vw;
    height: 40vh;

    padding: 4em 2em;

    border-radius: 2%;

    background: #fbf7f794;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    form {
      width: 100%;
      height: 100%;

      div {
        display: flex;
        align-items: center;
        width: 100%;
        height: 7vh;
        margin-bottom: 1em;
      }

      input {
        width: 100%;
        height: 6vh;
        
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 2px;

        border: 1px solid #787575;
      }

      input:focus-visible {
        outline: 3px solid #f56d0270;
        border: none;
      }

      span {
        margin-top: 0.5em;
        margin-right: 1rem;
        margin-left: 0.5rem;

        position: absolute;

        font-size: 1.3rem;
        color: #202020;
      }

    }
  }
}

.btn {
  width: 50%;

  display: block;

  font-size: 1em;
  font-weight: 600;

  margin: 2em auto;
  padding: 0.5em 1em;

  color: var(--colorWhite);
  background: var(--ColorBackgnd2);
  border: 1px solid var(--colorWhite);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn:hover {
  color: var(--colorWhite);
  border: 1px solid #e6823c;
  background-color: #f56b02ab;
}