.navbar {
  width: 30%;
  height: 100vh;

  padding: 4em 2em;

  float: left;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: var(--colorWhite);
  }

  background: var(--ColorBackgnd2);

  .list {
    width: 100%;
    margin-top: 2em;

    li {
      margin: 1.5em;
      padding: 1em 0;

      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
      letter-spacing: 2px;


      cursor: pointer;

      a,
      span {
        color: var(--colorWhite);
      }

      span {
        font-size: 1.3em;
        margin-right: 0.5em;
      }
    }
  }
}

.Acttive {
  font-weight: 700;
  background: var(--colorShadow);
  color: var(--colorWhite);
}
