.navbar {
  width: 30%;
  height: 100vh;

  padding: 4em 2em;

  float: left;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  color: var(--colorWhite);
  background: var(--ColorBackgnd2);

  .list {
    width: 100%;
    margin-top: 2em;

    li {
      margin: 1.5em;
      padding: 1em 0;

      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
      letter-spacing: 2px;

      cursor: pointer;
      transition: all 0.5s;

      a,
      span {
        color: var(--colorDescriptions);
      }

      span {
        font-size: 1.3em;
        margin-right: 0.5em;
      }
    }

    li:hover {
      font-weight: 700;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      background: var(--colorShadow);

      a,
      span {
        color: var(--colorWhite);
      }
    }
  }
}
