.container__table {
  width: 100%;
  padding: 1em;
  margin-top: 2em;
  border-radius: 3%;
  overflow-y: scroll;
  background: #fff;

  h2 {
    margin-bottom: 0.5em;

    text-align: center;
    letter-spacing: 5px;
  }
}

table {
 padding: 2em;
 width: 100%;
}

th {
  width: 25%;
  color: #c51616f2;
  text-transform: uppercase;
}

td {
  padding-top: 1em;
  color: #cd3939;
  text-align: center;
}

.container__videos {
  max-width: 68vw;
  height: 40vh;

  overflow-y: scroll;
  overflow-x: hidden;

  padding: 1em;
  margin-top: 2em;
  
  border-radius: 2%;
  background: #fff;

  h2 {
    margin-bottom: 1em;
  }

  .list__videos {
    display: flex;
  }
  section {
    width: 37vw;
    height: 25vh;

    padding: 0.5em;

    display: flex;
    align-items: center;

    .descriptions {
      margin-left: 1em;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
}
