.header {
  width: 70%;
  height: 10%;
  padding: 1em;

  float: right;

  background: var(--colorWhite);

  h2 {
    margin-left: 1em;
  }

  button {
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    transform: scale(1.1);

    color: var(--colorWhite);
    background: var(--colorShadow);
  }

  .profileAndLogOut {
    width: 40%;

    bottom: 3em;
    padding: 1em;
    float: right;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;    
  }

  .profile {
    width: 50px;
    margin-left: 0.5rem;
    border-radius: 100%;
  }
}
