.header {
  width: 70%;
  height: 10%;
  padding: 1em;

  float: right;

  background: var(--colorWhite);

  h2 {
    margin-left: 1em;
  }

  button {
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    transform: scale(1.1);

    color: var(--colorWhite);
    background: var(--colorShadow);
  }

  .profileAndLogOut {
    width: 40%;

    bottom: 4rem;
    padding: 1em;
    float: right;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;

    p {
      width: 100%;
      margin-right: 0.2rem;

      font-size: 1.2em;
      font-weight: 500;
      text-shadow: 0 0 black;

      color: var(--colorShadow);
    }
  }

  .profile {
    width: 50px;
    margin-right: 0.8rem;
    border-radius: 100%;
  }
}
